<div class="flex flex-row justify-between items-start mt-10">
  <div class="w-2/3">
    <%= render partial: 'form', locals: { prompt: @prompt } %>
  </div>
  <div class="w-1/3 ml-6">
    <%= render partial: "preview", locals: { prompt: @prompt, input: @input, inputs: @inputs, models: @models } %>
  </div>
</div>
