<h1 class="text-2xl mb-6"><%= @prompt.title %></h1>
<div class="flex flex-row justify-between items-start">
  <div class="w-2/3">
    <%= render partial: 'form', locals: { prompt: @prompt } %>
  </div>
  <div class="w-1/3 ml-6">
    <%= render partial: "preview", locals: { prompt: @prompt, user_prompt: @user_prompt, user_prompts: @user_prompts, models: @models } %>
  </div>
</div>
