<div class="prompt bg-white rounded-lg shadow-md p-6 flex flex-col items-start mb-4 w-full md:w-2/3 ">
  <div class="font-mono text-gray-600 text-lg mb-4">

    <%= @prompt_version.text %>
  </div>
  <div>
    Created on
    <%= @prompt_version.created_at %>
    by
    <%= @prompt_version.user.email %>
  </div>
  <div>

  </div>
</div>
