<div class="flex justify-between items-center mb-4">

  <h1 class="text-2xl"><%= input.title %></h1>
  <%= link_to 'Edit', edit_input_path(input), class: "ml-3 rounded-md py-2 px-3 bg-blue-50 border border-blue-200 text-sm text-blue-600 hover:bg-white inline-block font-medium" %>
</div>

<div class="input bg-white rounded-lg shadow-md p-6 flex flex-col items-start mb-4">
  <%= simple_format(input.text, class: "text-gray-600 text-lg font-mono") %>
</div>

