<% if input.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(input.errors.count, "error") %> prohibited this input from being saved:</h2>

    <ul>
      <% input.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field flex flex-col">
  <textarea id="newInputText" class="rounded-md border-gray-300  dark:border-slate-600 bg-white dark:bg-opacity-10 font-mono text-lg" rows="12" placeholder="Type or paste your input" data-prompt-panel-target='newInputTextArea'></textarea>
</div>

<div class="flex items-center">
  <button id="new_input_form" class='flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer mt-3' data-action="click->prompt-panel#createInput" data-prompt-panel-target='inputForm'>Save</button>
  <div class="spinner ml-4 hidden" data-prompt-panel-target='spinner'/>
</div>

