<div class="flex justify-end items-center mb-6">

  <%= link_to 'New input', new_input_path, class: "flex items-center justify-center rounded-md py-2 px-3 bg-blue-50 dark:bg-slate-700 dark:border-slate-500 dark:text-white border border-blue-200 text-blue-600 dark:hover:bg-slate-600 hover:bg-white font-medium cursor-pointer " %>
</div>
<% if @inputs.length > 0 %>
  <div class="mb-6 flex items-center">

    <div class="flex items-center" data-controller="checkbox">
      <input type="checkbox" id="show-archived" data-checkbox-target="checkbox" class="rounded-sm border border-gray-300 mr-2"/>
      <label for="show-archived">Show archived inputs</label>
    </div>
  </div>
<% end %>

<% if @inputs.length > 0 %>
  <div class="grid grid-cols-1 sm:gap-3 sm:grid-cols-2 md:grid-cols-3 md:gap-6">
    <%= render 'inputs' %>
  </div>
<% else %>
  <div class="text-center mt-24">
    <p class="text-gray-500">No inputs
      yet. <%= link_to 'Create an input', new_input_path, class: 'text-black hover:underline' %></p>
  </div>
<% end %>
