<table class="mt-6 w-full">
  <tbody>
  <% test_suite.test_runs.where(archived: false).order(run_time: :desc).each do |test_run| %>
    <%= turbo_stream_from test_run %>
    <%= render 'test_runs/row', test_run: test_run, test_suite: test_suite %>
  <% end %>
  </tbody>
</table>
