/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.selected, .selected:hover {
    background-color: #cce4f6;
    border: 1px solid transparent;
}

.panel-open {
    transform: translateX(0) !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.overlay-open {
    opacity: 0.2 !important;
    pointer-events: auto !important;
}


.dropdown-button .arrow {
    border: solid #777;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s infinite linear;
    vertical-align: middle;
}

.spinner.dark {
    border-top-color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.inline-form-wrapper {
    display: inline-block;
}

.hidden {
    display: none;
}

.highlight {
    transition: background-color 3s ease-out;
    background-color: #fef9c3;
}

.diff {
    overflow: auto;
}

.diff ul {
    background: #fff;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

.diff del, .diff ins {
    display: block;
    text-decoration: none;
}

.diff li {
    padding: 0;
    display: table-row;
    margin: 0;
    height: 1em;
}

.diff li.ins {
    background: #dfd;
    color: #080
}

.diff li.del {
    background: #fee;
    color: #b00
}

.diff li:hover {
    background: #ffc
}

/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span {
    white-space: pre-wrap;
}

.diff del strong {
    font-weight: normal;
    background: #fcc;
}

.diff ins strong {
    font-weight: normal;
    background: #9f9;
}

.diff li.diff-comment {
    display: none;
}

.diff li.diff-block-info {
    background: none repeat scroll 0 0 gray;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2563eb;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

