<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @organization %>

    <%= link_to 'Edit', edit_organization_path(@organization), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

  </div>
</div>
