<div class="flex justify-between items-center mb-12">

  <h1 class="text-2xl ">Developers</h1>
  <div class="font-mono text-lg text-gray-600">
    v1.0
  </div>
</div>

<% @current_account.api_keys.each do |api_key| %>
  <label class="text-gray-600">Promptspot API key (include this as an Authorization header)</label>
  <div data-controller="api-key" class="border border-gray-300 rounded-md bg-white dark:bg-opacity-10 flex-inline flex pr-3 w-full lg:w-2/3">
    <input
      data-api-key-target="keyField"
      type="password"
      class="outline-none focus:outline-none focus:border-0 border-transparent focus:border-transparent focus:ring-0 border-0 rounded-md w-full pl-3"
      value="<%= api_key.key %>"
      readonly
    >
    <button
      data-action="click->api-key#toggleKeyVisibility"
    >
      <span data-api-key-target="eyeIcon" style="display: none;"><%= feather_icon 'eye', size: "16" %></span>
      <span data-api-key-target="eyeOffIcon" style=""><%= feather_icon 'eye-off', size: "16" %></span>
    </button>
    <button
      data-action="click->api-key#copyKeyToClipboard"
    >
      <%= feather_icon 'copy', size: "16", class: "ml-3" %>
    </button>
  </div>
<% end %>
<div class="mt-12">
  <section id="prompts">
    <h2 class="text-2xl font-mono mb-6">Prompts</h2>
    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/prompts</div>
    </div>
    <p class="text-lg text-gray-400 mt-4">Returns all Prompts</p>

    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">

    <pre class="text-sm font-mono overflow-x-scroll">
      [
                {
                  "id ": "9e5e516e-d1c5-4e3f-9772-e12d238e6cfc",
                  "status ": "active",
                  "account_id ": "4919aa85 - 7b4c - 4589 - a713 - bd203e3ca830",
                  "created_at ": "2023 - 06 - 21T15:50:00.728Z",
                  "updated_at ": "2023 - 06 - 25T16:06:02.506Z",
                  "title ": "Hotel Concierge Expert Recommendations"
                },
                {
                  "id ": "f128f55a-104b-4b1b-9b75-2df9c51da2b6",
                  "status ": "active",
                  "account_id ": "4919aa85 - 7b4c - 4589 - a713 - bd203e3ca830",
                  "created_at ": "2023 - 06 - 26T18:19:57.704Z",
                  "updated_at ": "2023 - 06 - 26T18:19:58.572Z",
                  "title ": "Recommend 3 Movies"
                },
                {
                  "id ": "7b25f0df-4a22-4957-86bf-31f830d3c8fa",
                  "status ": "archived",
                  "account_id ": "4919aa85 - 7b4c - 4589 - a713 - bd203e3ca830",
                  "created_at ": "2023 - 06 - 27T17:45:01.506Z",
                  "updated_at ": "2023 - 06 - 28T20:00:16.260Z",
                  "title ": "Manage Business Travel Policy and Expenses"
                }
            ]
    </pre>
    </div>


    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex mt-6 ">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/prompts/[id]</div>
    </div>
    <p class="text-lg text-gray-400">Returns a single Prompt's full details. Just grab the
      <span class="font-mono px-1 rounded bg-gray-100">text</span>
      field if you're looking for the prompt itself.</p>
    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">

    <pre class="text-sm font-mono overflow-x-scroll">
      {
        "id": "7b25f0df-4a22-4957-86bf-31f830d3c8fa",
        "status": "active",
        "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
        "created_at": "2023-06-27T17:45:01.506Z",
        "updated_at": "2023-06-28T20:00:16.260Z",
        "title": "Manage Business Travel Policy and Expenses",
        "text": "Travelhub is a platform for managing business travel policies and expenses. \n\nThe following is a travel expense policy on Travelhub:\n\n- Airline highest fare class for flights under 6 hours is economy.\n- Airline highest fare class for flights over 6 hours is premium economy.\n- Car rentals must have an average daily rate of $60 or under.\n- Lodging must have an average nightly rate of $250 or under.\n- Lodging must be rated 4 stars or higher.\n- Meals from restaurants, food delivery, grocery, bars & nightlife must be under $75\n- All other expenses must be under $3,500.\n- Reimbursements require review.\n\nRecommend a hotel and flight that are in policy. Keep the recommendation concise, no longer than a sentence or two, but include pleasantries as though you are a friendly colleague helping me out. My details and the travel options are below, delimited by a triple equals sign (===). Do not recommend flights nor hotels that are not in the list below, and do not recommend flights or hotels that are out of policy.\n\n===\n\n"
      }
      </pre>
    </div>
  </section>
  <hr class="my-12"/>
  <section id="inputs">
    <h2 class="text-2xl font-mono mb-6">Inputs</h2>
    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/inputs</div>
    </div>
    <p class="text-lg text-gray-400 mt-4">Returns all Inputs</p>

    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">

    <pre class="text-sm font-mono overflow-x-scroll">
  [
  {
    "id": "41f27fab-0f6f-4629-a5c6-df7cd3516f9f",
    "text": "User profile:\nName: Alice Lee\nAge: 29\nFavorite hotels: 1) Ace Hotel in New Orleans, 2) Hotel San Fernando in Mexico City, 3) Blackberry Farms in TN\n\nRequirements: Hilton loyalty hotels only\nPreferences: \n - Close to a hip restaurant for dinner or cocktail after work\n - Centrally located to public transportation",
    "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
    "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
    "created_at": "2023-06-21T15:51:11.496Z",
    "updated_at": "2023-06-22T18:36:39.021Z",
    "title": "\n\nAlice Lee's Hotel Preferences"
  },
  {
    "id": "34588f06-f7f8-4d17-9010-241d09c29ab7",
    "text": "User profile:\nName: Phoebe Carrin\nAge: 22\nFavorite hotels: 1) Hotel Lucia in Portland, 2) White Elephant in Palm Beach, FL, 3) Hotel 50 Bowery, NYC\n\nPreferences: \n - Close to a park or place to run a few miles\n - Not too far from the nearest large convention center",
    "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
    "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
    "created_at": "2023-06-26T14:43:22.146Z",
    "updated_at": "2023-06-26T14:43:22.146Z",
    "title": "\n\nLikes city hotels near parks."
  },
  ...
]
    </pre>
    </div>


    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex mt-6 ">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/inputs/[id]</div>
    </div>
    <p class="text-lg text-gray-400">Returns a single Input's full details.

    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">

    <pre class="text-sm font-mono overflow-x-scroll">
      {
        "id": "41f27fab-0f6f-4629-a5c6-df7cd3516f9f",
        "text": "User profile:\nName: Alice Lee\nAge: 29\nFavorite hotels: 1) Ace Hotel in New Orleans, 2) Hotel San Fernando in Mexico City, 3) Blackberry Farms in TN\n\nRequirements: Hilton loyalty hotels only\nPreferences: \n - Close to a hip restaurant for dinner or cocktail after work\n - Centrally located to public transportation",
        "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
        "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
        "created_at": "2023-06-21T15:51:11.496Z",
        "updated_at": "2023-06-22T18:36:39.021Z",
        "title": "\n\nAlice Lee's Hotel Preferences"
      }
      </pre>
    </div>
  </section>
  <hr class="my-12"/>
  <section id="tests">
    <h2 class="text-2xl font-mono mb-6">Tests</h2>
    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/tests</div>
    </div>
    <p class="text-lg text-gray-400 mt-4">Returns all tests</p>

    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">

    <pre class="text-sm font-mono overflow-x-scroll">
  [
  {
    "id": "79828826-5bb3-4ed9-92bb-5078bf5822e2",
    "name": "Hotel concierge",
    "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
    "created_at": "2023-06-21T15:58:58.727Z",
    "updated_at": "2023-06-27T18:15:09.017Z",
    "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
    "archived": false,
  },
  {
    "id": "983189d9-c653-43ff-a35b-677859f4312e",
    "name": "Current weather",
    "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
    "created_at": "2023-06-22T18:31:50.933Z",
    "updated_at": "2023-06-22T18:32:10.430Z",
    "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
    "archived": true,
  },
      ...
]
    </pre>
    </div>
    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex mt-6">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/tests/[id]</div>
    </div>
    <p class="text-lg text-gray-400">Returns a single Test's full details.
    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">
    <pre class="text-sm font-mono overflow-x-scroll">
    {
      "id": "79828826-5bb3-4ed9-92bb-5078bf5822e2",
      "name": "Hotel concierge",
      "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
      "created_at": "2023-06-21T15:58:58.727Z",
      "updated_at": "2023-06-27T18:15:09.017Z",
      "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
      "archived": true,
    }
    </pre>
    </div>
  </section>
  <hr class="my-12"/>
  <section id="tests">
    <h2 class="text-2xl font-mono mb-6">Tests</h2>
    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/tests</div>
    </div>
    <p class="text-lg text-gray-400 mt-4">Returns all tests</p>

    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">

    <pre class="text-sm font-mono overflow-x-scroll">
  [
  {
    "id": "79828826-5bb3-4ed9-92bb-5078bf5822e2",
    "name": "Hotel concierge",
    "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
    "created_at": "2023-06-21T15:58:58.727Z",
    "updated_at": "2023-06-27T18:15:09.017Z",
    "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
    "archived": false,
  },
  {
    "id": "983189d9-c653-43ff-a35b-677859f4312e",
    "name": "Current weather",
    "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
    "created_at": "2023-06-22T18:31:50.933Z",
    "updated_at": "2023-06-22T18:32:10.430Z",
    "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
    "archived": true,
  },
      ...
]
    </pre>
    </div>
    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex mt-6">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/tests/[id]</div>
    </div>
    <p class="text-lg text-gray-400">Returns a single Test's full details.
    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">
    <pre class="text-sm font-mono overflow-x-scroll">
    {
      "id": "79828826-5bb3-4ed9-92bb-5078bf5822e2",
      "name": "Hotel concierge",
      "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
      "created_at": "2023-06-21T15:58:58.727Z",
      "updated_at": "2023-06-27T18:15:09.017Z",
      "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
      "archived": true,
    }
    </pre>
    </div>

    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex mt-6">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/tests/[test_id]/runs</div>
    </div>
    <p class="text-lg text-gray-400">Returns all instances of a test's run.
    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">
    <pre class="text-sm font-mono overflow-x-scroll">
    {
      "id": "79828826-5bb3-4ed9-92bb-5078bf5822e2",
      "name": "Hotel concierge",
      "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
      "created_at": "2023-06-21T15:58:58.727Z",
      "updated_at": "2023-06-27T18:15:09.017Z",
      "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
      "archived": true,
    }
    </pre>
    </div>

    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex mt-6">
      <div class="font-mono font-medium text-xl text-green-500">GET /api/v1/tests/[test_id]/runs/[id]</div>
    </div>
    <p class="text-lg text-gray-400">Returns details of a test run, including output if the test run has completed.
    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">
    <pre class="text-sm font-mono overflow-x-scroll">
    {
    "id": "9147eee0-268c-494e-9389-698cc5ef383f",
    "test_suite_id": "c3ed529d-1b7c-4f82-a602-2ffddbbfce5e",
    "run_time": "2023-06-28T19:58:45.387Z",
    "created_at": "2023-06-28T19:58:45.385Z",
    "updated_at": "2023-06-28T19:58:51.162Z",
    "status": "complete",
    "archived": false
    }
    </pre>
    </div>

    <div class="rounded-md bg-white dark:bg-opacity-10 p-2 border border-green-300 inline-flex mt-6">
      <div class="font-mono font-medium text-xl text-green-500">POST /api/v1/tests/[test_id]/runs</div>
    </div>
    <p class="text-lg text-gray-400">Run a test
    <p class="mt-6 text-gray-400">Example response</p>
    <div class="bg-white dark:bg-opacity-10 rounded w-full md:w-2/3 p-3 mt-2">
    <pre class="text-sm font-mono overflow-x-scroll">
    {
      "id": "79828826-5bb3-4ed9-92bb-5078bf5822e2",
      "name": "Hotel concierge",
      "user_id": "743175de-b393-4553-9a51-c0bd2e8ac4d0",
      "created_at": "2023-06-21T15:58:58.727Z",
      "updated_at": "2023-06-27T18:15:09.017Z",
      "account_id": "4919aa85-7b4c-4589-a713-bd203e3ca830",
      "archived": true,
    }
    </pre>
    </div>

  </section>

</div>

